<p id="notice"><%= notice %></p>



    <div class="bill-title-show-container">
      <div class="bill-title-show">

      <h4><%= @bill.title %></h4><br>
      <strong>Description:</strong>
      <p><%= @bill.description %></p><br>
      <strong>End date:</strong>
      <p><%= @bill.end_date %></p><br>
      <strong>Author:</strong>
      <p><%= @bill.author %></p>
      </div>
    </div>

    <div class="edit-buttons" s>
      <div class="btn btn-group">
        <%= link_to "Edit", edit_bill_path(@bill) %>
        <%= link_to "Delete", bill_path(@bill), method: :delete, data: {confirm: "Confirm Deletion?"} %>
        <%= link_to "Back", bills_path %>
      </div>
    </div>


      </div>

    </div>
